body{
  margin:0;
  padding: 0;
  padding-top: 5vh;
  background-color: whitesmoke;
  color: rgb(85,85,85);
  text-align: center;
  font-family: arial;
  overflow: scroll;
}
h3{
  margin-top: 5vh;
}

#title{
  height: 85vh;
  background: whitesmoke;
  color: rgb(85,85,85);
}
.home{
  font-size: 10px;
  position: fixed;
  top:0;
  left:0;
}
.home a{
  background:#eee;
   text-decoration:none;
   color:#333;
   font-family:Arial, sans-serif;
   font-size:11px;
   font-weight:bold;
   padding:3px 5px;
   border:1px solid #aaa;
   border-radius:3px;

}
.me{
  border-radius: 50%;
  height: 60vh;
  width: 60vh;
}
li{
  font-size: 20px;
  display: inline-block;
}
.tab-row .col{
  background-color: whitesmoke;
}
.tabs .tab a{
  color: rgb(85,85,85);
}

.tabs .tab a:hover{
  color: rgb(155,155,155);
}
.tabs .indicator{
  background-color: whitesmoke;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
h5{
  margin: 0;
}
#About-Me{
  text-align: justify;
  font-size: 18px;
  max-width: 60vw;
  margin: auto;
  overflow: scroll;
  margin-bottom: 50px;
}
#Contact{
  padding-top:25vh;
  padding-bottom: 50px;
}
#Contact a{
  padding: 10px;
}

p{
  font-size: 18px;
}
#Projects{
  display: none;
  margin:auto;
  width: 60vw;
  padding-bottom: 50px;
}
#Radicalize{
  display: none;
}
#SoundTrak{
  display: none;
}
#OutForAWalk{
  display: none;
}
#TicTacToe{
  display: none;
}
.sample-projects{
  z-index: 100;
  position: relative;
  height: 160px
}
.project{

  border-radius: 50%;
  /*max-width: 150px;*/
  height: 150px;
  cursor: pointer;
}

.hover-wrap{
  position: relative;
  max-width: 650px;
  margin: auto;
}
.hover{
  margin:auto;
  padding: 25px;
  background-color: white;
  box-shadow: 0 2px 2px 0;
  width:100%;
  /*max-width:650px;*/
  height: 60vh;
  overflow: scroll;
  position: relative;
}
.hover-content{
  text-align: justify;
  height: calc(100% - 56px);
  padding: 0 5px
}
.hover-content h3{
  margin-top: 5px;
  text-align: center;
}
.intro-text{
  display: inline;
  padding-bottom: 50px;
}
.hover-image{
  display: inline-block;
  float: left;
  width:200px;
  height: 125px;
}

.radicalize{
  background: url("../images/Radicalize.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.outforawalk{
  background: url("../images/Outforawalk.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.soundtrak{
  background: url("../images/soundtrak_screenshot.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.tictactoe{
  background: url("../images/TicTacToe_screenshot.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay{
  opacity: 0;
  height: 100%;
  box-sizing: border-box;
  background-color: #555;
  padding: 40px;
  text-align: center;
  transition: 1s;
  overflow: hidden;
  position: relative;
}
.overlay:hover{
  opacity: 0.9;
}
.overlay a{
  display: block;
  font-size: 18px;
  padding-bottom: 10px;
}
.overlay a:hover{
  text-decoration: underline;
}

.hover-wrap .hover-footer{
  margin: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
  clear:both;
  padding:5px 0;
  padding-left: 8px;
  position:absolute;
  bottom:0;
  width:100%;
  /*max-width:700px;*/
  font-size: 18px;
  text-align: left;
}
.footer{
  position: fixed;
  bottom: 0;
  background-color: whitesmoke;
  width: 100%;
  z-index: 1;
}

a img{
  display: inline-block;
  height: 128px;
  padding: 2px;
  margin-left: 25px;
}
.smaller{
  height:136px;
}
.row{
  text-align: center;
  margin: 0;
}
