body {
 background: #ccc;
}
.flip {
  -webkit-perspective: 800;
   width: 600px;
   height: 300px;
    position: relative;
    margin: 5% auto;
}
.flip .card.flipped {
  -webkit-transform: rotatey(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 1.5s;
}
.flip .card .face {

  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
    font-family: Baskerville;
    font-size: 18px;
    text-align: center;
}
.flip .card .front {
  position: absolute;
    background: #373837;
    color: white;
}
.flip .card .back {
  -webkit-transform: rotatey(-180deg);
    background: white;
    color: #373837;
}

.details{
  width:100%;
  margin: 35px 0px 0px 0px;
  float:left;
  text-align:center;
}

.details hr{
  width: 80%;
}

.role{
 padding-bottom:10px;
}

.contact{
 padding-top:5px;
 padding-bottom:10px;
}

.social {
  margin-top:40px;
  margin-left:5%;
  width: 90%;
}

.social table{
  width:100%;
  height:220px;
  border-collapse:collapse;
}

.social table td{
  width:50%;
  opacity:0.5;
}

.social table td:hover{
  opacity:1;
}

.socialico{
  height:48px;
  width:48px;
  float:left;
  margin-left:30px;
  margin-right:0px;
  margin-top:10px;
}

.sociallink{
 float:left;
 margin:20px;
}

.sociallink a{
 text-decoration:none;
 color:#373837;
}

.description{
  display: none;
  padding: 10px;
  background-color: #fff;
  text-align: justify;
}
.non-mobile,
.mobile-link{
  display: none;
}
